/*reset*/
body {
	margin: 0;
  }
  
  /*geal*/
  html {
	font-family: "Open Sans", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  span {
	margin: 0;
	color: #0e0e0e;
  }
  
  .container {
	max-width: 1920px;
	width: 100%;
  }
  
  /*hader*/
  header {
	position: relative;
	top: 0;
	height: auto;
	width: 100%;
  }
  
  /*navbar*/
  nav {
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	z-index: 1;
	background-color: #11366d;
	border-bottom: 1px solid #11366d;
	background-image: linear-gradient(to right, black, rgb(28, 84, 129));
  }
  
  nav::after {
	clear: both;
	content: "";
	display: block;
	height: 50px;
	width: 50px;
	background-color: transparent;
  }
  
  .nav-container {
	max-width: 1200px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
  }
  
  #logo {
	width: 105px;
	height: 103px;
	margin-top: 0px;
  }
  
  .nav-container ul {
	float: right;
	height: 100px;
	line-height: 100px;
	margin: 0;
  }
  
  .nav-container li {
	list-style: none;
	float: left;
	margin: 0 15px;
  }
  
  .nav-container li a {
	text-decoration: none;
	color: #666;
	transition: .5s;
  }
  
  .nav-container li a:hover {
	color: #000000;
  }
  
  
  /*banner*/
  #main-banner {
	background: url(/rafael_projeto_main/rafael_projeto_main/mesa.png) no-repeat;
	background-size: cover;
	background-position: 55%;
	position: relative;
	margin-top: 100px;
  }
  
  #search-form {
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15em;
	padding-bottom: 15em;
	text-align: center;
  }
  
  #search-form h1 {
	font-size: 40px;
  }
  
  h1 {
	background: linear-gradient(to left, black, rgb(20, 16, 16), rgb(2, 23, 48), rgb(1, 1, 2));
	background-clip: text;
	display: inline;
	color: transparent;
	animation: animated 5s linear infinite;
  }
  
  
  
  #search-form p {
	margin-top: 30px;
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: 300;
  }
  
  /*formúlario*/
  #search-form input,
  #search-form select {
	background-color: #fff;
	border-radius: 50px;
	border-color: #d6cfcf8a;
	padding: 10px 20px;
	font-size: 18px;
	margin: 0 10px;
  }
  
  
  #search-form input[type=submit] {
	background-color: #2e68b9;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s;
  }
  
  #search-form input[type=submit]:hover {
	background-color: #17263f;
  }

  .wrapper{
	background: #17263f;
  }